<app-simple-container [header]="'Список доступных телефонов'" [page]="1">
  <app-phone-list></app-phone-list>
</app-simple-container>
<h3>Another List</h3>
<app-phone-list></app-phone-list>
<app-simple-container [header]="listHeader">
<!-- <app-simple-container header={{listHeader}}> -->
  <ul>
    <li>Lorem, ipsum.</li>
    <li>Ipsa, culpa?</li>
    <li>Necessitatibus, fugiat.</li>
    <li>Voluptates, magni.</li>
    <li>Necessitatibus, veritatis?</li>
  </ul>
</app-simple-container>
<hr>
<app-counter (stateChanged)="onCounterChanged($event)"></app-counter>
<div>Counter value: {{counter}}</div>
<hr>
<h3>Двусторонняя привязка</h3>
<app-sizer [(size)]="fontSizeInPx"></app-sizer>
<div [style.font-size.px]="fontSizeInPx">Font Size: {{fontSizeInPx}}px</div>